<div *ngIf="isFetched | async" style="
width:1000px; margin: -10px 0 0 -200px;
 padding: 10px;overflow: auto;">
<table class="table-bordered row-border hover"  datatable [dtOptions]="dtOptions">
   <thead class="thead-dark">
       <tr>
           <th>Username</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Role</th>
           <th>User Ip</th>
           <th>Login Time</th>
           <th>Logout Time</th>
        </tr>
   </thead>
   <tbody>
       <tr *ngFor="let user of users">
           <th>{{ user.username }}</th>
           <th>{{ user.firstName }}</th>
           <th>{{ user.lastName }}</th>
           <th>{{ user.role }}</th>
           <td>{{ user.ip }}</td>
           <td>{{ user.loginTime }}</td>
           <td>{{ user.logoutTime}}</td>
        </tr>
   </tbody>
 </table>
</div>
